body
{
  flex-direction: column;
}

/* BOUTON REFRESH */
.ensemble_refresh
{
  display: flex;
  margin-left: 60%;
}

.date
{
  margin-right: 10px;
}

.refresh a
{
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  color: #91d3d9;
  background-color: black;
  border: solid 2px black;
  text-decoration: none;
}
.refresh a:hover
{
  justify-content: center;
  padding: 10px;
  border-radius: 10px; 
  color: black;
  background-color: #91d3d9;
  border: solid 2px black;
  text-decoration: none;
}




/* TABLEAU */

.tous_les_encadres
{
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	padding: 1%;
}
.tous_les_capteurs
{
	
	

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border:solid 1px rgba(0,0,0,.2);
  width:300px;
  padding:50px;
  margin:40px auto;
  background:rgba(0,0,0,.2);
  border-radius:10px;
  box-shadow: 0 1px 12px rgba(0,0,0,.5);
  -webkit-transition: box-shadow .15s, 
    border .15s;
}
.une_piece
{
  display: flex;
  margin-bottom: 5%;
}
.un_capteur
{
  display: flex;
  flex-direction: column;
  border:solid 1px rgba(0,0,0,.2);
  width:300px;
  padding:auto;
  margin:40px auto;
  background:rgba(0,0,0,.2);
  border-radius:10px;
  box-shadow: 0 1px 12px rgba(0,0,0,.5);
  -webkit-transition: box-shadow .15s, 
    border .15s;

}
.temperature
{
  padding-top:5%;
  display:flex;

}
.etat_capteur
{
  display:flex;
  
  flex-direction:row;
  
}
.boite_pour_un_capteur
{

	
  margin: 0.5%;
  padding: auto;

}
.nom_piece
{
  font-size: 20px;
  margin-right: 2%;
}
.pas_de_capteur
{
    
  padding: 1.5%;
  border:solid 1px rgba(0,0,0,.2);
  width:300px;
  
  margin:40px auto;
  background:rgba(0,0,0,.2);
  border-radius:10px;
  box-shadow: 0 1px 12px rgba(0,0,0,.5);
  -webkit-transition: box-shadow .15s, 
    border .15s;
}



/* Points de couleurs */

.pre_circle
{
  padding: auto;
}
.circle_black
{
  width: 20px;
  height: 20px;
  background: black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.circle_red
{
  width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.circle_orange
{
  width: 20px;
  height: 20px;
  background: orange;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.circle_green
{
  width: 20px;
  height: 20px;
  background: green;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

