body
{
  flex-direction: column;
}

/* BOUTON REFRESH */
.ensemble_refresh
{
  display: flex;
  margin-left: 60%;
}

.date
{
  margin-right: 10px;
}

.refresh a
{
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  color: #91d3d9;
  background-color: black;
  border: solid 2px black;
  text-decoration: none;
}
.refresh a:hover
{
  justify-content: center;
  padding: 10px;
  border-radius: 10px; 
  color: black;
  background-color: #91d3d9;
  border: solid 2px black;
  text-decoration: none;
}




/* TABLEAU */

.tous_les_encadres
{
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	padding: 1%;
}
.tous_les_capteurs
{
	border: solid;
	width: 100%;
	padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5%;
}
.une_piece
{
  display: flex;
  margin-bottom: 5%;
}
.un_capteur
{
  display: flex;
  justify-content: space-between;
}
.boite_pour_un_capteur
{
	border: solid;
  margin: 0.5%;
  padding: auto;
}
.nom_piece
{
  font-size: 20px;
  margin-right: 2%;
}
.pas_de_capteur
{
    border: solid;
    padding: 1.5%;
}



/* Points de couleurs */

.pre_circle
{
  padding: auto;
}
.circle_black
{
  width: 20px;
  height: 20px;
  background: black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.circle_red
{
  width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.circle_orange
{
  width: 20px;
  height: 20px;
  background: orange;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.circle_green
{
  width: 20px;
  height: 20px;
  background: green;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

