#PageDeconnexion
{
	margin:auto;
	width:900px;
}


#logo img
{
	width:250px;
	height:250px;
}

#DHomelab{
	display:flex;
	flex-direction:column;
	
}
#logo
{
	display: flex;
	justify-content: center;
}


.titre
{
  margin-left:45.5%;
	margin-right:46%;
	margin-top:-5%;
}
.titrep 
{
  margin:center;
}


html,body
{
	width:100%;
	height:100%;
  font-family: Georgia, Arial, sans-serif;
}
header
{
	background-image: url('../picture/image_de_fond.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;	
}

footer
{
	background-image: url('../picture/image_de_fond.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding:30px;
}

#menu_navigation_verticale{
  padding:0;
  margin-left:10px;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu_navigation_verticale ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu_navigation_verticale li {
   background-color:#34495e; 
   border-radius: 6px;
   margin-bottom:5px;
   border:solid 1px #34495e
}
#menu_navigation_verticale li li {
   max-height:0;
   overflow: hidden;
   transition: all 2s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu_navigation_verticale a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-size:1.2em
}

#menu_navigation_verticale li:hover {
   background: #34495e
}
#menu_navigation_verticale li li:hover {
   background: #ecf0f1;
}
#menu_navigation_verticale ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu_navigation_verticale li:hover li {
  max-height: 20em;
}

#container_2
{
  display:flex;
  padding: auto;
}

#bloc_page
{
    font-family: Georgia, Arial, sans-serif;
}
    .onoffswitch {
        position: relative; 
        width: 90px;
        -webkit-user-select:none; 
        -moz-user-select:none; 
        -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; 
        overflow: hidden; 
        cursor: pointer;
        border: 2px solid #999999; 
        border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; 
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; 
        float: left; width: 50%; 
        height: 30px; padding: 0; 
        line-height: 30px;
        font-size: 14px; 
        color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #34A7C1; 
        color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE; 
        color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; 
        margin: 6px;
        background: #FFFFFF;
        position: absolute; top: 0; 
        bottom: 0;
        right: 56px;
        border: 2px solid #999999; 
        border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }

.pre_circle
{
  padding: auto;
}
.circle_red
{
  width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.circle_orange
{
  width: 20px;
  height: 20px;
  background: orange;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.circle_green
{
  width: 20px;
  height: 20px;
  background: green;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#lien_donnees
{
  margin: 20px;
}
#table1
{
  margin: 20px
}
#table2
{
  margin: 20px;
}