 input[type=submit]{
 color:white;
 background-color:  #91d3d9;
 font-size: 0.9em;
 border-radius: 5px;
 border: solid 1px white;
 padding:5px;

}
 input[type=submit]:active
{
background-color: #14b0bf;
}

select
{

background-color: #91d3d9;
 min-width:100px;
}
#container_3
{ 	margin-left: 7vw;
	display:flex;
	flex-direction: column;
	align-items: center;
	border:solid white 1px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	background-color: #14b0bf;
	color:white;
}
#sel
{	
	display:flex;
	justify-content: space-around;
}