
#container_3 input {
  display:block;
}
#container_3 input[type=number],
input[type=text]{
  width:100%;
  box-sizing:border-box;
  height:2.5em;
  border-radius:5px;
  border:solid 1px #aaa;
  padding:2px 8px;
  margin-bottom:10px;
  background:rgba(255,255,255,.9);
}

#container_3 form {
  border:solid 1px white;
  width:300px;
  padding:60px;
  margin:40px auto;
  margin-left: 49px;
  background-color: #14b0bf;
  border-radius:10px;
  box-shadow: 0 1px 12px rgba(0,0,0,.5);
  -webkit-transition: box-shadow .15s, 
    border .15s;
    color: white;

}
 input[type=submit]{
 color:white;
 background-color:  #91d3d9;
 font-size: 0.9em;
 border-radius: 5px;
 border: solid 1px white;
 padding:5px;
}
 input[type=submit]:active
{
background-color: #14b0bf;
}