

header
{ display:flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  background-color: #14b0bf;
  opacity:1;
  min-width: 1000px;
  height:11%;
  right:0; left:0; top:0; 


}



#domisep
{
  color:white;

}

#logo
{

  height:115%;
}



html
{

  margin-bottom:0;

}
body

{ 
  
  display:flex;
  margin-top: 9%;


  font-family: Georgia, Arial, sans-serif;
  background-color: #91d3d9;
  overflow:auto;
  margin-left:0;
  padding-bottom: 100px;



}



footer
{
  display:flex;
  justify-content: space-around;
  align-items: center;
 	background-color: #14b0bf;
  width:100%;
  position: fixed;
  bottom: 0; left:0;
  height: 50px
  margin:20px;



}


#menu_navigation_verticale
{
  display:flex;
  justify-content: space-between;
  padding:10px;
  margin-left:10px;

  align-items: flex-end;
  

  list-style:none;
  text-align: center;
  width: 100%;
 

}


#menu_navigation_verticale ul {

  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  max-height: 0;



}
#menu_navigation_verticale li {
   display:flex; 
   flex-basis: 150px;
   justify-content: center;
   flex-direction: column;
padding-left:5px;
padding-right:5px;
   height: 50px;



   border-radius: 6px;
   border:solid 1px white;


}
#menu_navigation_verticale li li {

  display:flex; 
  justify-content:  center;
  max-height:0;
  border:none;
   overflow: hidden;
  
   background-color: #14b0bf; 
   transition: all 0s;
   box-shadow:none;
    
}
#menu_navigation_verticale a {

  display:flex; 
  justify-content: center; 
  text-decoration: none;
  color:white;  

  padding: 8px 0;
  font-size:1.2em; 


}
#menu_navigation_verticale a:hover {

  display:flex; 
  justify-content: center; 
  text-decoration: none;
  color:#14b0bf  ;
  padding: 8px 0;
  font-size:1.2em;
  

}
#menu_navigation_verticale li:hover li {
display:flex;

max-height:100%;
  color: #cc04c2;
  border-left:solid 1px white;
  border-right:solid 1px white;
 border-radius: 0px;


}
#menu_navigation_verticale li:hover ul li:lastchild {


border-bottom:solid 1px white; 



}

#lc li li 
{
  border-bottom:1px solid white;
}
#menu_navigation_verticale li:hover {

background: white;


    
}
#menu_navigation_verticale li li:hover {



}

#menu_navigation_verticale ul li:last-child {

   border-radius: 0 0 6px 6px;


}





#menu_navigation_verticale ul li {

   border-radius: 0 0 6px 6px;
opacity:1;   

}


  



  
