/* css bouton traduction */


.bouton_bleu
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid #91d3d9;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}














