/* css bouton traduction */


.bouton_bleu
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    padding: 3px 8px 0px 8px;
    color: blue;
}














