/* css page de contact */

body
{
	background-image: url('../picture/domotique1.png');
    background-attachment: scroll; /* Le fond restera fixe */
    background-repeat: no-repeat;
    background-position: right;
    color: #000000;
}

body h1
{
	color: #760001;
}


.bouton_rouge

{

    height: 25px;
    position: absolute;
    left: 5px;
    background-color: #760001;
    border: 1px solid #330000;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

























