#container_3 p
{
	color:white;
	border: solid 4px white;
	padding:15px;
	border-radius: 15px;
	font-size: 1.1em;
	background-color: #14b0bf;
	margin-top: 0;
}
section
{
	
	display: flex;
	padding-left: 8vw;
	justify-content: space-around;
	flex-direction: column;




}

strong

{

	font-size: 1.3em;
}


